brotli==1.0.9
chardet==4.0.0
clint==0.5.1
colorama==0.4.4
coverage==6.3.1
cryptography==36.0.1
Cython==0.29.27
distro==1.6.0
dl==0.1.0
importlib_metadata==4.10.1
ipaddr==2.2.0
keyring==23.5.0
mock==4.0.3
mypy_extensions==0.4.3
numpy==1.22.1
ordereddict==1.1
protobuf==3.19.4
pyOpenSSL==22.0.0
simplejson==3.17.6
typing_extensions==4.0.1
unicodedata2==14.0.0
wincertstore
